aiofiles==22.1.0
aiosqlite==0.18.0  
anyio==3.6.2       
APScheduler==3.9.1 
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
args==0.1.0
array2==0.1
arrow==1.2.3
astor==0.8.1
asttokens==2.1.0
attrs==19.3.0
autopep8==2.0.1
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
branca==0.6.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
colourmap==1.1.10
comm==0.1.0
contourpy==1.0.5
csv23==0.3.4
cycler==0.11.0
ddd-subplots==1.0.24
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distfit==1.6.9
emoji==2.1.0
entrypoints==0.4
environments-utils==1.0.9
executing==1.2.0
exesexe==1.0.1
factorial-EIP==1.0
fastjsonschema==2.16.2
Fiona==1.9.1
folium==0.14.0
fonttools==4.38.0
fqdn==1.5.1
geopandas==0.12.2
greenlet==2.0.2
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.4
imageio==2.26.1
ipykernel==6.18.0
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==7.7.3
isOdd==0.1.2
isoduration==20.11.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
json2json==0.1.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.5.0
jupyter-ydoc==0.2.2
jupyter_client==7.4.7
jupyter_core==5.2.0
jupyter_operator==0.0.2
jupyter_server==2.3.0
jupyter_server_fileid==0.6.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.2
jupyterlab_server==2.19.0
keplergl==0.1.1
kiwisolver==1.4.4
kwargs==1.0.1
LinearRegression==0.0.1
maker==1.3.0
MarkupSafe==2.1.2
math-base==0.1.3
math2==0.0.2.dev3
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==2.0.5
mpmath==1.2.1
munch==2.5.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.23.4
objects==0.3.1
opencv-python==4.7.0.72
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
penguins==0.5.1
period-iterator==1.2.5
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.4
plotly==5.14.0
plotly-express==0.4.1
progress==1.6
prometheus-client==0.16.0
prompt-toolkit==3.0.33
psutil==5.9.4
pure-eval==0.2.2
pycodestyle==2.10.0
pycparser==2.21
pygifsicle==1.0.7
Pygments==2.13.0
pyparsing==3.0.9
pypickle==1.1.0
pyproj==3.4.1
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.6
Python-Package-tutorial==1.0.1
python-telegram-bot==20.0a4
pytz==2022.5
pytz-deprecation-shim==0.1.0.post0
pywin32==305
pywinpty==2.0.10
PyYAML==6.0
pyzmq==24.0.1
query==0.1.4
requests==2.28.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.1
seaborn-base==0.0.1
Send2Trash==1.8.0
shapely==2.0.1
six==1.16.0
sklearn==0.0.post1
sklearn-linear-model-modification==0.0.11
sniffio==1.3.0
sns==0.1
solvers==0.6
soupsieve==2.4
sql==2022.4.0
SQLAlchemy==2.0.7
stack-data==0.6.1
star-array==1.0
static-variables==0.0.5
stats==0.1.2a0
statsmodels==0.13.5
super3==0.1.5
support-developer==1.0.5
sympy==1.11.1
tenacity==8.2.2
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
traittypes==0.2.1
typing_extensions==4.5.0
tzdata==2022.5
tzlocal==4.2
uri-template==1.2.0
urllib3==1.26.12
variants==0.2.0
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
widgetsnbextension==3.6.2
y-py==0.5.5
ypy-websocket==0.8.2